@import "reset";

$text-color: #031928;
$light-grey: #dadfde;
$text-grey: #809097;

$small-photo-height: 300px;
$large-photo-height: 450px;

body {
	font-size: 100%;
	line-height: 1.125em;
	color: $text-color;
	font-family: "adelle-1","adelle-2", serif;
}

p {
	color: $text-grey;
	margin: 0 0 1em 0;
}

a:link, a:visited {
	color: $text-color;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	transition: border-color .5s linear;
}

a:hover {
	color: $text-color;
	border-bottom: 1px solid $text-color;
}

.photo {
	width: 100%;
	height: $small-photo-height;
	position: relative;
}

.photo-credit {
	position: absolute;
	bottom: 10px;
	right: 10px;
	margin: 0;
	padding: 0;
	color: darken($light-grey, 10%);
	
	span {
		opacity: 0.5;
	}

	a {
		opacity: 0.5;
		color: darken($light-grey, 10%);

		&:hover {
			transition: opacity .5s linear;
			opacity: 1;
			border-color: darken($light-grey, 10%);
		}
	}
}

.img {
	height: $small-photo-height;
	background: #7f9099 url('../img/friendly.jpg') no-repeat center 12%;
	background-size: cover;
}

@media (min-width: 666px) and (max-width: 666px) {
	.img {
		background: #7f9099 url('../img/666.jpg') no-repeat center center;
		background-size: cover;
	}
}

@media (min-width: 1100px) {
	.img {
		background: #7f9099 url('../img/friendly-big.jpg') no-repeat center 12%;
		background-size: cover;
	}
}

h1 {
	width: 90%;
	margin: 0 auto 1em auto;
	padding: 1em 0;
	text-align: center;
	border-bottom: 1px solid $light-grey;
	font-size: 2em;
	line-height: 1.55em;
	font-weight: normal;
}

@media (min-width: 666px) and (max-width: 666px) {
	h1:after {
		content: "with flu in London";
	}
}

h2 {
	font-weight: normal;
}

ul {
	width: 90%;
	margin: 0 auto;
	padding: 0 2%;
	box-sizing: border-box;
}

li {
	display: block;
	float: left;
	width: 100%;
	padding: 2em 1em;
	box-sizing: border-box;
	text-align: center;
}

@media (min-width: 550px) {
	.photo, .img {
		height: $large-photo-height;
	}
	ul {
		padding: 0;
		margin-bottom: 10%;
	}
	li {
		width: 50%;
	}
}

@media (min-width: 1050px) {
	.photo, .img {
		height: $large-photo-height;
	}
	ul {
		padding: 0 10%;
		margin-bottom: 10%;
	}
	li {
		width: 33.33333%;
	}
}