@import "reset";

$text-color: #031928;
$light-grey: #dadfde;
$text-grey: #809097;

body {
	font-size: 100%;
	line-height: 1.125em;
	color: $text-color;
	font-family: "adelle-1","adelle-2", serif;
}

.photo {
	width: 100%;
	height: 350px;

	.img {
		height: 350px;
		background: #7f9099 url('../img/woods.jpg') no-repeat center center;
		background-size: cover;
	}

	@media (min-width: 666px) and (max-width: 666px) {
		.img {
			background: #7f9099 url('../img/666.jpg') no-repeat center center;
			background-size: cover;
		}
	}

	@media (min-width: 1100px) {
		.img {
			background: #7f9099 url('../img/woods-big.jpg') no-repeat center center;
			background-size: cover;
		}
	}
}

h1 {
	width: 90%;
	margin: 0 auto 1em auto;
	padding: 0;
	text-align: center;
	border-bottom: 1px solid $light-grey;
	font-size: 2em;
	line-height: 4em;
	font-weight: normal;
}

@media (min-width: 666px) and (max-width: 666px) {
	h1:after {
		content: "with flu in London";
	}
}

h2 {
	font-weight: normal;
}

ul {
	width: 90%;
	margin: 0 auto;
	padding: 0 2%;
	box-sizing: border-box;
}

li {
	display: block;
	float: left;
	width: 100%;
	padding: 2em 1em;
	box-sizing: border-box;
	text-align: center;
}

p {
	color: $text-grey;
	margin: 0 0 1em 0;
}

a:link, a:visited {
	color: $text-color;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	transition: border-color .5s linear;
}

a:hover {
	color: $text-color;
	border-bottom: 1px solid $text-color;
}

@media (min-width: 550px) {
	ul {
		padding: 0;
	}
	li {
		width: 50%;
		padding: 2em;
	}
}

@media (min-width: 900px) {
	ul {
		padding: 0 10%;
	}
	li {
		width: 33.33333%;
		padding: 2em;
	}
}