<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
	<title>Joshua Jenkins</title>
	<meta name="description" content="Maker">
	<meta name="author" content="Joshua Jenkins">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="/static/css/style.css">
	<script type="text/javascript" src="//use.typekit.net/hyu6rvn.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>

<div class="photo">
	<div class="img">&nbsp;</div>
</div>

<h1>
	Joshua Jenkins
</h1>

<ul class="clearfix">
	<li>
		<p>Day by day</p>
		<h2><a href="http://dropbox.com">Dropbox Design</a></h2>
	</li>
	<li>
		<p>Simple web buddy</p>
		<h2><a href="http://nativeformelements.com">Native Form Elements</a></h2>
	</li>
	<li>
		<p>Simple bookmarks</p>
		<h2><a href="https://hvngry.herokuapp.com">HVNGRY</a></h2>
	</li>
	<li>
		<p>Simple placeholders</p>
		<h2><a href="http://hhhhold.com">hhhhold!</a></h2>
	</li>
	<li>
		<p>Occasional photos</p>
		<h2><a href="http://thejourney.joshuajenkins.com">The Journey<a></h2>
	</li>
	<li>
		<p>Free verse</p>
		<h2><a href="http://twitter.com/joshuajenkinsyo">@joshuajenkinsyo</a></h2>
	</li>
</ul>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36732891-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>